

@import "./css/rpg-awesome.css";

/** --------------------------------------------
    Global Styling Rules
--------------------------------------------- */

button#world-anvil {
    flex: 0 0 32px;
    min-width: inherit;
}
button#world-anvil img {
    position: relative;
    border: none;
    height: 24px;
    width: auto;
}


.wa-link {
    padding: 1px 4px 1px 18px;
    margin: 0;
    white-space: nowrap;
    word-break: break-all;
    background: #DDD;
    background-image: url(icons/wa-icon.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 2px 1px;
    border: 1px solid #444;
    border-radius: 2px;
}
.wa-link.not-found {
    color: darkred;
}
.wa-link:hover {
    text-shadow: 0 0 4px red;
    cursor: pointer;
}



/** --------------------------------------------
    Application Styling Rules
--------------------------------------------- */

/* World Overview */
#world-anvil-browser .window-content {
    max-height: 80vh;
}

/* World Overview */
#world-anvil-browser .world-description {
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
}

/* Article Links */
#world-anvil-browser .world-anvil-link {
    flex: 1;
    margin: 0;
    padding-left: 20px;
    background-image: url(icons/wa-icon.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 50%;
    color: #191813;
    text-decoration: none;
}

#world-anvil-browser a.article-link {
    color: #191813;
    text-decoration: none;
}



/* General Rules */
#world-anvil-browser .controls {
    flex: none;
}
#world-anvil-browser .world-anvil-control {
    width: 32px;
    height: 24px;
    margin: 0;
    padding: 0 4px;
    line-height: 24px;
    text-align: center;
}
#world-anvil-browser .world-anvil-control.inactive {
    opacity: 0.65;
}
#world-anvil-browser .world-anvil-control > i {
    margin: 0;
}

/* Categories */
#world-anvil-browser .category {
    border-top: 1px solid #782e22;
}
#world-anvil-browser .subcategories .category:first-child {
    border-top: none;
}

#world-anvil-browser .category-header {
    align-items: center;
    padding: 0.2em 0;
    margin: 0;
    border-bottom: 1px solid #782e22;
    border-left: 1px solid #782e22;
}
#world-anvil-browser .category-title {
    margin: 0;
    border: none;
    font-size: 1.2em;
    padding-left: 0.25em;
}
#world-anvil-browser .subcategories {
    padding-left: 1em;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#world-anvil-browser .category .collapsed-icon {
    line-height: 24px;
    flex: unset;
    padding: 0 0.4em;
}
#world-anvil-browser .category .collapsed-icon:hover {
    cursor: pointer;
    text-shadow: 0 0 4px red;
}

/* Articles */
#world-anvil-browser .article {
    align-items: center;
    padding: 0.25em 0em 0.25em 0.25em;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
#world-anvil-browser .article:last-child {
    margin-bottom: 1em;
}
#world-anvil-browser .article-title {
    margin: 0;
    border-bottom: none;
    font-size: 1em;
}
#world-anvil-browser .article-title.clickable:hover {
    cursor: pointer;
    text-shadow: 0 0 4px red;
}


/* Article Filters */
#world-anvil-browser .article-filters {
    margin-top: 1em;
    padding: 0.25em 0;
    border-top: 1px solid #782e22;
}
#world-anvil-browser .article-filters button {
    flex: auto;
    margin-left: 3px
}

/** --------------------------------------------
    Journal Entries
--------------------------------------------- */

.journal-sheet.world-anvil .image-thumb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.journal-sheet.world-anvil .image-thumb-container img {
    max-width: 320px;
    max-height: 480px;
}

dt {
    font-weight: bold;
}

dd {
    padding-left: 5px;
    margin: 3px 0;
}

/** --------------------------------------------
    Timelines
--------------------------------------------- */

.wa-section.timeline-content .timeline {
    justify-content: left;
    align-items: stretch;
    margin-bottom: 25px;
}
.wa-section.timeline-content .hidden-title {
    flex: none;
    border: none;
    max-height: 0px !important;
    font-size: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    margin-block: 0px !important;
}

.wa-section.timeline-content .timeline-entry {
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex: none;
}
.wa-section.timeline-content .timeline-entry.minimized:hover {
    cursor: pointer;
}

.wa-section.timeline-content .timeline-entry.space-between {
    align-items: stretch;
}

.wa-section.timeline-content .timeline-entry.no-importance {
    color: #2d2d2d;
}

.wa-section.timeline-content .timeline-entry.trivial {
    color: black;
}

.wa-section.timeline-content .timeline-entry.minor {
    font-size: 1.2em;
    color: #3e1812;
}

.wa-section.timeline-content .timeline-entry.important {
    font-size: 1.2em;
    color: #782e22;
}

.wa-section.timeline-content .timeline-entry.major {
    font-size: 1.2em;
    color: darkred;
}
.wa-section.timeline-content .timeline-entry.era-change {
    font-size: 1.4em;
    color: darkred;
}

.wa-section.timeline-content .timeline-entry .col-1 {
    flex: 2;
}
.wa-section.timeline-content .timeline-entry .col-2 {
    flex: none;
    min-width: 100px;
    max-width: 100px;
    align-items: center;
    background-position-x: center;
    background-repeat: repeat-y;
    background-image: url("icons/timeline-middle.webp");
}

.wa-section.timeline-content .timeline-entry .col-3 {
    flex: 5;
}

.wa-section.timeline-content .timeline-entry .entry-date {
    text-align: right;
    font-size: 80%;
}

.wa-section.timeline-content .timeline-entry .first-entry-icon {
    min-height: 40px;
    max-height: 40px;
    background-image: url("icons/timeline-start.webp");
}
.wa-section.timeline-content .timeline-entry .last-entry-icon {
    min-height: 40px;
    max-height: 40px;
    background-image: url("icons/timeline-end.webp");
}

.wa-section.timeline-content .timeline-entry.maximized {
    border: slategrey;
    border-style: solid;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    align-items: start;
}

.wa-section.timeline-content .timeline-entry .first-line:hover {
    cursor: pointer;
}

.wa-section.timeline-content .timeline-entry.maximized .maximized-icon {
    flex: none;
    margin-right: 10px;
}
.wa-section.timeline-content .timeline-entry.maximized .maximized-title {
    flex: none;
    align-self: end;
    margin-bottom: 0.3em;
}
.wa-section.timeline-content .timeline-entry.maximized .maximized-subtitle {
    flex: none;
    color: black;
    font-size: 80%;
    font-style: italic;
}
.wa-section.timeline-content .timeline-entry.maximized .maximized-description {
    flex: none;
    padding-top: 10px;
    color: black;
    font-size: 0.8em;
}
