<form>
    <p class="notification info">{{localize stepLabel}}</p>

    <div class="form-group">
        <label>{{localize "WA.UserToken"}}</label>
        <input type="text" name="authToken" value="{{authToken}}"/>
        <p class="notes">{{localize "WA.UserTokenHint"}}</p>
    </div>

    {{#if displayWorldChoices }}
    <div class="form-group">
        <label>{{localize "WA.WorldId"}}</label>
        <select name="worldId">
            {{#select worldId}}
            <option value=""></option>
            {{#each worlds}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <p class="notes">{{localize "WA.WorldIdHint"}}</p>
    </div>
    {{/if}}

    <button type="submit">{{localize "Save Changes"}}</button>
</form>