<section class="world-details">
    <header>
        <h2>
            <a class="world-anvil-link wa-theme-dependant" href="{{ world.url }}" data-tooltip="{{ localize 'WA.ButtonOnWA' }}" target="_blank">{{ world.name }}</a>
        </h2>
    </header>
    <article class="world-description">
        {{{ world.description_parsed }}}
    </article>
</section>
